<div class="list row">
  <div class="col-md-12">
    <div class="input-group mb-4">
      <input type="text" class="form-control" placeholder="Search by title" [(ngModel)]="searchTitle" />
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" (click)="searchByTitle()">
          <i class="fa fa-search" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <h4>Book List</h4>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Title</th>
          <th scope="col">Description</th>
          <th scope="col" style="min-width: 150px;">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let book of books;">
          <th scope="row">{{book.id}}</th>
          <td><b>{{book.title}}</b></td>
          <td>{{book.description}}</td>
          <td >
            <button type="button" style="margin-right:25px " class="btn btn-warning" routerLink="/book/{{book.id}}"><i class="fa fa-edit"></i></button>
            <button type="button" class="btn btn-danger" (click)="deleteBook(book.id)"><i class="fa fa-trash"></i></button>
          </td>

        </tr>
      </tbody>
    </table>

  </div>
</div>
