<div>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="background-color: #a2766e !important; ">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">

        <li class="nav-item" routerLink="books" routerLinkActive="active">
          <a routerLink="/books" class="nav-link" style="color:black !important"><b>Books</b></a>
        </li>
        <li class="nav-item" routerLink="add" routerLinkActive="active">
          <a routerLink="/add" class="nav-link" style="color:black !important;"> <b>Add a Book</b></a>
        </li>


      </ul>
      <span class="navbar-text">

        <span class="nav-item" routerLink="logout" routerLinkActive="active">
          <a routerLink="/login" class="nav-link"
            ><i class="fa fa-sign-out"   style="color:black !important;font-size:20px !important" aria-hidden="true"></i
          ></a>
        </span>
      </span>
    </div>
  </nav>

  <div class="container mt-5">
    <router-outlet></router-outlet>
  </div>
  <footer class="bg-dark text-center text-lg-start "  style=" margin-top: 150px;background-color: #a2766e !important;">
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" ><b>© 2022 Copyright:</b></div>
    <!-- Copyright -->
  </footer>
</div>
