<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark"  >


    <div class="navbar-nav mr-auto">

      <li class="nav-item" routerLink="add" routerLinkActive="active">
        <a href="/add" class="nav-link">Add a Book</a>
      </li>
    </div>
  </nav>

  <div class="container mt-5">
<router-outlet></router-outlet>
<app-list></app-list>
  </div>
  <footer class="bg-dark text-center text-lg-start " style="margin-top:150px">
    <!-- Grid container -->
    <div class="container p-4" style="color: beige!important;">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase">Footer text</h5>

          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste atque ea quis
            molestias. Fugiat pariatur maxime quis culpa corporis vitae repudiandae
            aliquam voluptatem veniam, est atque cumque eum delectus sint!
          </p>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase">Footer text</h5>

          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste atque ea quis
            molestias. Fugiat pariatur maxime quis culpa corporis vitae repudiandae
            aliquam voluptatem veniam, est atque cumque eum delectus sint!
          </p>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="color:white;">
      © 2022 Copyright:

    </div>
    <!-- Copyright -->
  </footer>
</div>

